<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
  </head>
  <body>
<form action="{{ path('admin_login_check') }}" method="post">
    {{ error }}
    ID:<input type="text" name="_username" value="{{ last_username }}" />
    PW:<input type="password" name="_password" value="" />
    <input type="submit" />
	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
</form>
  </body>
</html>